.logo {
  width: 30px; 
  height: 10px;
}

.input-box {
  background-color: #ffffe6;
  border: 0.4px solid black; 
  border-radius: 6px
}

.progress-par {
  width: 200px; 
  position: relative;
}

.control-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  cursor: pointer
}
